@model EmployeeDetails.Models.Employee;


<form method="post">
    <a asp-controller="Employee" asp-action="List" class="btn btn-primary mt-2">&larr; Back</a>
    <h1>Add employee</h1>
    <strong> <label class="form-label ">Employee Name</label></strong>
        <input type="text" asp-for="EmployeeName" class="form-control"/>
        <span asp-validation-for="EmployeeName" class="text-danger mb-3"></span>
        <br/>
    <strong><label class="form-label ">Salary</label></strong>
        <input type="number" asp-for="Salary" class="form-control "/>
        <span asp-validation-for="Salary" class="text-danger  mb-3"></span><br/>
        <button type="submit" class="btn btn-primary mt-2">Add</button>
</form>